	<!-- Page content
		================================================== -->
	<section class="container">

		<section class="row-fluid">
	
			<section class='span6'>
				<%=nav1("Settings")%>
			</section>
			<section class='span6'>
			</section>
		</section>

		<br/>

		<section class="row-fluid">
			
			<div class='span3'>
				<h4><i class='icon-key'></i> Account</h4>
				<br/>
				
				<a href='./clientinformation'>Company Information</a><br/>
				<span style='font-size:10px;color:gray;'>Company name. Company time zone. Reseller configuration. Api key. Billing information.</span><br/>
				<br/>

				<a href='./password'>Change Password</a><br/>
				<span style='font-size:10px;color:gray;'>Update your password.</span><br/>
				<br/>

				<a href='./users'>Users</a><br/>
				<span style='font-size:10px;color:gray;'>Add new users. Remove existing users. Assign roles.</span><br/>
				<br/>

				<a href='./users'>API</a><br/>
				<span style='font-size:10px;color:gray;'>Generate or change your API key. Get access to API documentation.</span><br/>
				<br/>
			</div>
			<div class='span1'></div>

			<div class='span3'>
			</div>
			<div class='span1'></div>

			<div class='span3'>
			</div>
			<div class='span1'></div>
			
		</section>
		
	</section>
