	<!-- Page content
		================================================== -->
	<section class="container">

		<section class="row-fluid">
	
			<section class='span6'>
				<%=nav1("Settings")%>
			</section>
			<section class='span6'>
			</section>
		</section>

		<br/>

		<section class="row-fluid">
			
			<div class='span3'>
				<h4><i class='icon-key'></i> Account</h4>
				<br/>
				
				<a href='./clientinformation'>Company Settings</a><br/>
				<span style='font-size:10px;color:gray;'>Company name. Company time zone. Reseller configuration. Api key. Billing information.</span><br/>
				<br/>

				<a href='./password'>Change Password</a><br/>
				<span style='font-size:10px;color:gray;'>Update your password.</span><br/>
				<br/>

				<a href='./users'>Users</a><br/>
				<span style='font-size:10px;color:gray;'>Add new users. Remove existing users. Assign roles.</span><br/>
				<br/>
				<!--
				<a href='./notifications'>Notifications</a><br/>
				<span style='font-size:10px;color:gray;'>Setup the the email alerts that you want to receive in your inbox. Check out the notifications that you have received recently.</span><br/>
				<br/>
				-->
			</div>
			<div class='span1'></div>

			<div class='span3'>
				<h4><i class='icon-credit-card'></i> Credits</h4>
				<br/>
				
				<a href='./credit'>Credits</a><br/>
				<span style='font-size:10px;color:gray;'>Current available credits.</span><br/>
				<br/>

				<a href='./invoices'>Invoices</a><br/>
				<span style='font-size:10px;color:gray;'>Invoices status. Invoices details.</span><br/>
				<br/>

				<a href='./subscriptions'>Subscriptions</a><br/>
				<span style='font-size:10px;color:gray;'>Automatic billing plans.</span><br/>
				<br/>
				<!-- TODO: Develop this screen
				<a href='./transactions'>Transactions</a><br/>
				<span style='font-size:10px;color:gray;'>Check out the daily movements in your balance.</span><br/>
				<br/>
				-->

			</div>
			<div class='span1'></div>

			<div class='span3'>
				<h4><i class='icon-tasks'></i> Reports</h4>
				<br/>

				<a href='./filejobs'>File Jobs</a><br/>
				<span style='font-size:10px;color:gray;'>Reports generation jobs. Jobs status. Download links.</span><br/>
				<br/>

				<a href='./statements'>Financial Statements</a><br/>
				<span style='font-size:10px;color:gray;'>Records of payments and consumptions.</span><br/>
				<br/>

				<!--				
				<a href='./emailservers'>Email Servers</a><br/>
				<span style='font-size:10px;color:gray;'>Shared email servers. Dedicated email servers. Servers status. Servers verifications.</span><br/>
				<br/>

				<a href='./deliveryjobs'>Delivery Jobs</a><br/>
				<span style='font-size:10px;color:gray;'>Email campaigns deliveries.</span><br/>
				<br/>
				-->
			</div>
			<div class='span1'></div>
			
		</section>
		
	</section>
