<!--#include virtual = "./lgi/commons.asp"-->

<%
login = @login
user = BlackStack::Core::User.where(:id=>login.id_user).first
c = BlackStack::Client.where(:id=>user.id_client).first
%>

	<!-- Page content
		================================================== -->
	<section class="container">

		<section class="row-fluid">	
			<section class='span6'>
				<%=nav2("Settings", "/settings/dashboard", "Change Password")%>
			</section>
			<section class='span6'>
			</section>
		</section>

		<br/>

		<form class="form-horizontal" action="/settings/filter_update_password" method="get">
			<input type="hidden" class="input-xlarge" name="uid" id="uid" value="<%=user.id.to_guid%>">
			<input type="hidden" class="input-xlarge" name="cid" id="cid" value="<%=c.id.to_guid%>">

			<section class="row-fluid">
				<div class="form-horizontal span12 box" style="margin-bottom: 20px">
					<br/>
					
					<div class="control-group span12">
						<label class="control-label" for="inputKeywords">Current Password *</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="current_password" id="current_password" placeholder="" value="">
						</div>
						<br/>
						
						<label class="control-label" for="inputKeywords">New Password *</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="new_password" id="new_password" placeholder="" value="">
						</div>
						<br/>

						<label class="control-label" for="inputKeywords">Repeat Password *</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="repeat_password" id="repeat_password" placeholder="" value="">
						</div>
						<br/>

						<div class="controls">				
							<button type="submit" class="btn btn-blue btn-large" tabindex="5"><i class="icon-ok"></i> Save</button>
						</div>
					</div>					
				</div>				

			</section>
		</form>
	</section>
