# ignore any output file
*.out

# ignore ./deploy.sh because I use this script to shorten the ./install.rb script with all its commands  
/deploy.sh

# ignore SSL certificates, except development certificated stored on /ssl/_desa/
/ssl/*/*
!/ssl/_desa/*

# ignore the folders imported from extensions.
# reference: for more information, read #33
#
# ignore subfolders inside /views, except api1.0, layouts, settings, and templates 
# ignore subfolders inside /public, except core
# ignore subfolders inside /lib, except skeleton and stub 
# ignore subfolders inside /notifications, except any file named *.rb in the root
# ignore subfolders inside /p, except any file named *.rb in the root
# ignore subfolders inside /dispatchers, except any file named *.rb in the root
# ignore subfolders inside /cli, except any file named *.rb in the root
# ignore subfolders inside /sql, except any file named *.sql in the root
# ignore subfolders inside /gems, except any file named *.gem in the root
# ignore subfolders inside /examples, except the /core subfolder
# ignore subfolders inside /docu, extept the /thumbnails subfolder and any file named *.md in the root
# ignore subfolders inside /.extensions
#
/views/*
!/views/api1.0
!/views/layouts
!/views/settings
!/views/templates

/public/*
!/public/core/*

/lib/*
!/lib/skeleton/*
!/lib/stub/*

/notifications/*
!/notifications/*.rb

/dispatchers/*
!/dispatchers/*.rb

/cli/*
!/cli/*.rb

/sql/*
!/sql/*.sql

/gems/*
!/gems/*.gem

/examples/*
!/examples/core/*

/docu/*
!/docu/thumbnails/*
!/docu/*.md

/.extensions/*

# igonore the backups of the configuration files
config.*.rb
!config.template.rb

# ignore private key files
*.ppk
*.pem

# picture files in temp folders
/temp/*.jpg
/temp/*.png
/temp/*.gif
/temp/*.bmp
/cli/temp/*.jpg
/cli/temp/*.png
/cli/temp/*.gif
/cli/temp/*.bmp
/p/temp/*.jpg
/p/temp/*.png
/p/temp/*.gif
/p/temp/*.bmp

# ignore database files
*.ldf
*.mdf

# ignore lock files
*.lock

# ignore log files
*.log
*.log.data

# ignore .project file created by IDE
.project

# ignore .maintenance file used to turn the app unavailable
.maintenance

# ignore .notrial file used to switch between landing pages
.notrial

# production configuration files
config.rb
config.prod*.rb
config.backup*.rb

# backup files
*.bak 

# PID files
*.pid

# clients' storage folder
/public/clients/*/

# extensions folder
/extensions/