# ignore any output file
*.out

# ignore the .sandbox file.
.sandbox
.localw

# ignore ./deploy.sh because I use this script to shorten the ./install.rb script with all its commands  
/deploy.sh

# ignore SSL certificates, except development certificated stored on /ssl/_desa/
/ssl/*/*
!/ssl/_desa/*

# ignore everthing inside extensions, extept the README.md file
# reference: for more information, read #33
/extensions/*
!/extensions/README.md

# igonore the backups of the configuration files
config.*.rb
!config.template.rb

# ignore private key files
*.ppk
*.pem

# picture files in temp folders
/temp/*.jpg
/temp/*.png
/temp/*.gif
/temp/*.bmp
/cli/temp/*.jpg
/cli/temp/*.png
/cli/temp/*.gif
/cli/temp/*.bmp
/p/temp/*.jpg
/p/temp/*.png
/p/temp/*.gif
/p/temp/*.bmp

# ignore database files
*.ldf
*.mdf

# ignore lock files
*.lock

# ignore log files
*.log
*.log.data

# ignore .project file created by IDE
.project

# ignore .maintenance file used to turn the app unavailable
.maintenance

# ignore .notrial file used to switch between landing pages
.notrial

# production configuration files
config.rb
config.prod*.rb
config.backup*.rb

# backup files
*.bak 

# PID files
*.pid

# clients' storage folder
/public/clients/*/