<nav id="left-panel">
	<div id="left-panel-content">
		<ul>
			<li>
				<a href="/prospecting/dashboard"><span class="icon-dashboard"></span>Dashboard</a>
			</li>
			<li class="lp-dropdown">
				<a href='#' class="lp-dropdown-toggle" id="new-dropdown"><span class="icon-plus"></span>New</a>
			</li>
			<ul class="lp-dropdown-menu simple" data-dropdown-owner="new-dropdown" style="width: 150px;">
				<li style="display: block; width: 100%;">
					<span style='position:absolute; right:5px;top:5px;'>
						<span class='badge badge-mini badge-green'>premium</span>
					</span>
				</li>
			</ul>

			<li class="lp-dropdown">
				<a href="/settings/dashboard" class="lp-dropdown-toggle" id="settings-dropdown"><span class="icon-cog"></span>Settings</a>
			</li>
			<ul class="lp-dropdown-menu simple" data-dropdown-owner="settings-dropdown" style="width: 150px;">
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/account" style="display: block; width: 100%;"><i class="icon-heart"></i>&nbsp;&nbsp;Company</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/password" style="display: block; width: 100%;"><i class="icon-key"></i>&nbsp;&nbsp;Password</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/users" style="display: block; width: 100%;"><i class="icon-group"></i>&nbsp;&nbsp;Users</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/filejobs" style="display: block; width: 100%;"><i class="icon-cloud-download"></i>&nbsp;&nbsp;Download</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/credit" style="display: block; width: 100%;"><i class="icon-money"></i>&nbsp;&nbsp;Credits</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/invoices" style="display: block; width: 100%;"><i class="icon-money"></i>&nbsp;&nbsp;Invoices</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/subscriptions" style="display: block; width: 100%;"><i class="icon-credit-card"></i>&nbsp;&nbsp;Subscriptions</a>
				</li>
				<li style="display: block; width: 100%;">
					<a tabindex="-1" href="/settings/statements" style="display: block; width: 100%;"><i class="icon-list-alt"></i>&nbsp;&nbsp;Financial</a>
				</li>
			</ul>
		</ul>
	</div>
</nav>
