<nav id="left-panel">
	<div id="left-panel-content">
		<ul>
			<li>
				<a href="/dashboard"><span class="icon-dashboard"></span>Dashboard</a>
			</li>
			<li class="lp-dropdown">
				<a href="/settings/dashboard" class="lp-dropdown-toggle" id="settings-dropdown"><span class="icon-cog"></span>Settings</a>
			</li>
		</ul>
	</div>
</nav>
