<%
# get extension
e = BlackStack::Extensions::extensions.select { |e| e.name.downcase==@service.downcase }.first

%>

<nav id="left-panel">
	<div id="left-panel-content">
		<ul>
			<%
			if e.nil? # I am in the home
			%>
			<li>
				<a href="/dashboard"><span class="icon-dashboard"></span>Dashboard</a>
			</li>
			<%
			else # I am in a service
				e.leftbar_icons.each { |i|
					%>
					<li>
						<a href="/<%=e.name.downcase.to_s.encode_html%>/<%=i.screen.to_s.downcase.encode_html%>"><span class="icon-<%=i.icon.to_s%>"></span><%=i.label.encode_html%></a>
					</li>
					<%
				}
			end
			%>
			<!-- this is shwn for all the services -->
			<li class="lp-dropdown">
				<a href="/settings/dashboard" class="lp-dropdown-toggle" id="settings-dropdown"><span class="icon-cog"></span>Settings</a>
			</li>
		</ul>
	</div>
</nav>
