
/* 
 * Scrolling animation
 * More info here: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
 * 
 */
html {
  scroll-behavior: smooth;
}

/* 
 * Top stiky navbar 
 * More info here: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
 * 
 * The mysticky class is added to the navbar with JS when it reaches its scroll position.
 * 
 */
.mynavbar {
  overflow: hidden;
  background-color: transparent;
  z-index: 99;
  opacity: 1.0;
}

.mysticky_0 {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 75px;
  right: 0px;
  background-color: white;
  opacity: 0.9;
  padding: 17px 17px 17px 17px;
}

.mysticky {
  position: fixed;
  top: 43px;
  left: 85px;
  right: 0px;
  background-color: white;
  opacity: 0.9;
  padding: 17px 17px 17px 17px;
}



.myleftbar {
  overflow: hidden;
  z-index: 99;
}

.myleftsticky {
  position: fixed;
  top: 120px;
  left: 110px;
  background-color: white;
}


/*
 * Ajax processing banners
 * 
 */
div.ajax-status-banner-blue {
	position:fixed;
	top: 40px;
	left:0px;
	width:100%;
	height:75px;
	opacity:0.75;
	z-index:999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color:white;
	padding-top:55px;
	padding-left: 25px;
	background-color:blue;
	display:none;
}

div.ajax-status-banner-green {
	position:fixed;
	top: 40px;
	left:0px;
	width:100%;
	height:75px;
	opacity:0.75;
	z-index:999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color:white;
	padding-top:55px;
	padding-left: 25px;
	background-color:green;
	display:none;
}

div.ajax-status-banner-red {
	position:fixed;
	top: 40px;
	left:0px;
	width:100%;
	height:75px;
	opacity:0.75;
	z-index:999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color:white;
	padding-top:55px;
	padding-left: 25px;
	background-color:red;
	display:none;
};
