ul.for-paragraph li {
	margin-bottom: 10px;
}

h3.landing {
	font-weight: normal;
}	

p.landing {
	font-weight: normal;
}

div.landing-left {
	vertical-align: middle; height: 100%; font-weight: normal;
}

div.landing-left section.landing-left-panel {
	margin-top:75px;
}

/* 
 * Style for top-right logo with title.
 *
*/
div.top-right-logo-with-title {
	position:absolute;
	left:50px;
	top:25px;
	width:161px;
	height:38px;
}

div.top-right-logo-with-title img.logo {
	height:38px; 
}

div.top-right-logo-with-title p.title {
	margin-top:5px;
	margin-left:50px;
	font-size:12px;
	font-weight:bold;
	font-family:Lucida,Thaoma,Arial;
	text-align:right;
	width:100%;
}

/* 
 * Style for contextual menu button.
 *
*/
button.simple {
	text-decoration: none;
}

a {
	text-decoration: none;
}

a.simple {
	text-decoration: none;
}

img.avatar {
	border-radius: 50%;
}

.menu-link {
	text-decoration: none;
	opacity: 0.5;
}

.menu-link:hover {
	text-decoration: none;
	opacity: 1.0;
}

.menu-link-large {
	text-decoration: none;
	opacity: 0.5;
	font-size: 26px;
}

.menu-link-large:hover {
	text-decoration: none;
	opacity: 1.0;
	font-size: 26px;
}
