div.lead-card {
    position:relative;
    height:115px;
    overflow:hidden;
    width:100%;
}

div.lead-card div.acronym {
    position:absolute;
    left:0;
    top:0;
    width:65px;
    height:50px;
    overflow:hidden;
    border-radius:10px;
    padding-top:20px;
    font-size:32px;
    text-align:center;
    vertical-align:middle;
    color:white;
}

div.lead-card div.acronym-color-0 {
    background-color:rgb(0,128,192);
}

div.lead-card div.acronym-color-1 {
    background-color:rgb(0,0,160);
}

div.lead-card div.acronym-color-2 {
    background-color:rgb(0,128,64);
}

div.lead-card div.acronym-color-3 {
    background-color:rgb(255,128,0);
}

div.lead-card div.acronym-color-4 {
    background-color:rgb(128,0,128);
}

div.lead-card div.acronym-color-5 {
    background-color:rgb(128,0,255);
}

div.lead-card div.acronym-color-6 {
    background-color:rgb(255,0,128);
}

div.lead-card div.acronym-color-7 {
    background-color:rgb(0,255,128);
}

div.lead-card div.acronym-color-8 {
    background-color:rgb(0,128,255);
}

div.lead-card div.acronym-color-9 {
    background-color:rgb(0,128,128);
}

div.lead-card div.acronym span {
    //margin-top:20px;
    text-align:center;
    vertical-align:middle;
}

div.lead-card div.insights {
    position:absolute;
    left:75px;
    top:0;
    width:350px;
    hright:50px;
    overflow:hidden;
}

div.lead-card div.insights span.name {
    font-size:24px;
}

div.lead-card div.insights span.headline {
    font-size:12px;
}

div.lead-card div.data {
    position:absolute;
    right:5px;
    top:0;
    width:155px;
    hright:50px;
    overflow:hidden;
}

div.lead-card div.data span.headline {
    font-size:12px;
}
