/*
body {
    background: white !important; 
}

.dark-color {
    color: rgba(0, 0, 0, 1);
}

.grey-darker { 
    color: rgba(0, 0, 0, 0.7);
}

  
// Safari 
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.field {
    color: rgb(127, 127, 127);
    text-decoration: underline;
    background-color: white;
    border: 1px solid dodgerblue;
}

.info-assistants {
    color: rgb(127, 127, 127);
    text-decoration: underline;
    background-color: white;
}

.medium-text {
    font-size: 1.25em;
    line-height: 1.5em;
}

.sentence-body {
    padding: 0em 1em 0 1em;
}

span.field[contenteditable]:empty::before {
    content: attr(data-placeholder);
    display: inline;
}

span.info-assistants[contenteditable]:empty::before {
    content: attr(aria-placeholder);
    display: inline;
}

.sentence-body-template {
    margin-left: 1em;
}

.is-background-blue.arrow-no-active {
    color: darkblue;
    cursor: pointer;   
    text-decoration: underline; 
}

.sentence-title {
    font-size: 1.1em;
    font-weight: bolder;
    padding-right: 1em;
}

.sentence-title-holder {
    display: flex;
    align-self: center;
}

.button-holder {
    padding-top: 2em;
}

.sentence {
    padding-top: 2em;
}

i {
    cursor: pointer;
    padding-right: 1em;
    font-size: 1.3em;
}

#form-info-assistant {
    display: flex;
}

#form-picture {
}

#form-data {
    padding-left: 1em;
    flex-grow: 2;
}

#assistant-headline {
    width: 100%;
}

#assistant-zipcode {
    width: 45%;
}

#assistant-industry {
    width: 45%;
    margin-right: -1%;
}

#assistant-data-location {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#assistant-data-company, #assistant-data-pastcompany {
    margin-top: 0.5em;
}

#assistant-summary {
    width: 100%;
    height: 100px;
}

#form-info-summary-header, #form-data-assistant {
    display: flex;
    align-items: baseline;
}

#form-info-summary-header > p, #form-data-assistant > p {
    flex-grow: 2;
}

#form-info-summary-header > a, #form-data-assistant > a {
    padding-right: 2.5em;
}

#form-buttons-holder > .button-holder {
    display: flex;
    justify-content: flex-end;
}

.top-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: url('../images/guarda.png') !important;
    background-repeat: repeat-x !important;
}
*/

input.wizard-title {
    border:2px solid rgb(47, 54, 153);
    border-radius: 5px;
    font-size: 22px;
    margin: 0px;
    padding:10px;
    width: 400px;
    height: 35px;
}

input.wizard-title-error {
    border:2px solid rgb(255, 0, 0);
    border-radius: 5px;
    font-size: 22px;
    margin: 0px;
    padding:10px;
    width: 400px;
    height: 35px;
}

.bigger-text {
    font-size: 1.65em;
}

.big-text {
    font-size: 1.25em;
}

.smaller-text {
    font-size: 0.75em;
}

.bold-text {
    font-weight: bold;
}

.warning-box {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    background-color: lightyellow;
    border: 0.5em solid goldenrod;
    padding: 0.5em;
}

.wizard-bottom-bar {
    position:fixed;
    left:0;
    right:0;
    bottom:0px;
    height:100px;
    background-color:white;
    vertical-align:middle;
    opacity:0.95;
    border-top: 1px solid rgb(60,60,60);
}

.wizard-bottom-bar .wizard-button-box {
    position: absolute;
    right: 10px;
    top: 10px;
}

.wizard-bottom-bar .wizard-header1-box {
    position: absolute;
    left: 10px;
    top: 10px;
    padding-left: 10%;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    color: rgb(60,60,60);
}

.wizard-bottom-bar .wizard-upgrade-box {
    position: absolute;
    left: 450px;
    top: 10px;
    padding-left: 10%;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    color: rgb(60,60,60);
    margin-left: 50px;
}

.wizard-bottom-bar .wizard-header2-box {
    position: absolute;
    left: 10px;
    top: 50px;
    padding-left: 10%;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: rgb(60,60,60);
}

@media only screen and (max-width: 1024px) {
    .wizard-bottom-bar .wizard-header1-box { display: none; }
    .wizard-bottom-bar .wizard-header2-box { display: none; }
    .wizard-bottom-bar .wizard-upgrade-box { display: none; }
}

datalist {
	display: none;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; // Safari
    animation: spin 2s linear infinite;
}

.is-background-blue {
    background-color: lightblue;
}

.has-text-centered {
    text-align: center;
}

.arrow {
    width: 25%; 
    padding: 1em 0em 1em 0em;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.arrow-active {
    background-color: rgb(0, 0, 128); 
    color: white;
    font-weight: bold;
}

.flex-steps {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
}

#top-arrows {
    transition: 0.3s;
}

#top-arrows.floating {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 81%;
    background-color: white;
    border: 1px #0b0b0b solid;
    padding: 1em 10em 1em 10em;
    margin-left: -112px;
    transition: 0.3s;
}